
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 





.custom-header{
	font-size: 14px;
    color: #fff;
    background: #000;
}

#siteList {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#siteList td, #siteList th {
  border: 1px solid #ddd;
  padding: 8px;
}

#siteList tr:nth-child(even){background-color: #f2f2f2;}

#siteList tr:hover {background-color: #ddd;}

#siteList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}




#staffList {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#staffList td, #staffList th {
  border: 1px solid #ddd;
  padding: 8px;
}

#staffList tr:nth-child(even){background-color: #f2f2f2;}

#staffList tr:hover {background-color: #ddd;}

#staffList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text] {
  border: 2px solid red;
  font-size: 28px; 
  border-radius: 4px;
}


br {
  margin: 2em;
  display: block;
  font-size: 24%;
}