<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bionime system</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/bionime.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/lou-multi-select/css/multi-select.css">
<!--===============================================================================================-->

<div class="sidenav">
  <a href="bionimeAddSite">新增站點</a>
  <a href="bionimeListSite">站點列表</a>
  <a href="bionimeAddStaff">新增護士</a>
  <a href="bionimeListStaff">護士列表</a>
</div>

<div class="main">

  <label for="fname">新增護士資料:</label><br>
  <input type="text" id="addStaffID" name="addStaffID"  style="background-color:#cceeff;" placeholder="new staff ID...">
  <input type="text" id="addStaffName" name="addStaffName"  style="background-color:#cceeff;" placeholder="new staff name..."> 
  <br> 
  <select multiple="multiple" id="my-select" name="my-select[]">
		<option th:each="site : ${sites}" th:value="${site.name}"
			th:text="${site.name}"></option>
  </select> 
  <br> 
  <label id="addStaffResult" for="fname"></label>
  <br>
  <input type="submit" id="addStaffSubmit"  value="Submit"> 

</div>
   
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/lou-multi-select/js/jquery.multi-select.js"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="js/bionime.js"></script>
<!--===============================================================================================-->
   
</html>