<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bionime system</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="css/bionime.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/lou-multi-select/css/multi-select.css">
<!--===============================================================================================-->

<div class="sidenav">
  <a href="bionimeAddSite">新增站點</a>
  <a href="bionimeListSite">站點列表</a>
  <a href="bionimeAddStaff">新增護士</a>
  <a href="bionimeListStaff">護士列表</a>
</div>

<div class="main">

 <h3>Staff List</h3>
 <br />

<table>
	<thead>
		<tr>
			<th> StaffName </th>
			<th> LastUpdate </th>
		</tr>
	</thead>
	<tbody>
		<tr th:if="${staffs.empty}">
			<td colspan="2"> No Staffs Available </td>
		</tr>
		<tr th:each="staff : ${staffs}">
			<td><span th:text="${staff.name}"> ID </span></td>
			<td><span th:text="${staff.lastUpdate}"> Last Update </span></td>
			<td>
				<a th:href="..." style="display:block;">View</a> 
				<a href="#" th:onclick="@{'deleteStaff('+${staff.id}+')'}" style="display:block;">delete</a>
			</td>
		</tr>
	</tbody>
</table>

</div>
   
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/lou-multi-select/js/jquery.multi-select.js"></script>
<!--===============================================================================================-->
    <script type="text/javascript" src="js/bionime.js"></script>
<!--===============================================================================================-->
   
</html>