<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bionime system</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="../css/bionime.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css"
	href="../vendor/lou-multi-select/css/multi-select.css">
<!--===============================================================================================-->

<div class="sidenav">
	<a href="../bionimeAddSite">新增站點</a> 
	<a href="../bionimeListSite">站點列表</a>
	<a href="../bionimeAddStaff">新增護士</a> 
	<a href="../bionimeListStaff">護士列表</a>
</div>

<div class="main">

	<label for="viewSiteName">護士名稱:</label>
	<br> 
	<label id="viewStaffName" th:text="${staff.name}"></label> 
	<br/>

 
	<br> 
	
	<select multiple="multiple" id="modifySelect" name="my-select[]">
		<option th:each="site : ${serviceSite}" th:value="${site.name}"
			th:selected="${site.assigned}" th:text="${site.name}"></option>
	</select> <br>
	
  	<input type="submit" id="modifyStaffSubmit"  value="Submit"> 
  	<label id="modifyStaffResult" for="fname"></label>


</div>

<!--===============================================================================================-->
<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/lou-multi-select/js/jquery.multi-select.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="../js/bionime.js"></script>
<!--===============================================================================================-->

</html>